:root {
    --bg-color: white;
}

.sidebar {
    /* TODO: Add interior scroll bar */
    background-color: var(--bg-color);
    height: 100vh;
    width: 40%;
    float: left;
    padding: 10px;
    overflow-y: scroll;
}

.map {
    height: 100vh;
    width: 60%;
    /* float: left; */
}

.header {
    height: 20vh;
}

.createTourButton {
    float: left;
}