:root {
    /* Color variables */
    --bg-color: white;
    --card-color: rgb(234, 234, 234);
    --card-color-hover: rgb(226, 226, 226);
    --remove-color: rgb(236, 48, 48);
    --remove-color-hover: rgb(209, 38, 38);
    --confirm-color: rgb(60, 85, 228);
    --confirm-color-hover: rgb(89, 111, 236);
}

body, html {
    font-family: "Lexend", sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: 800;
}

h5 {
    font-weight: 600;
}

.sidebar {
    background-color: var(--bg-color);
    height: 100vh;
    width: 40%;
    float: left;
    padding: 10px;
    overflow-y: scroll;
}

.map {
    height: 100vh;
    width: 60%;
}

.locationList ul {
    list-style-type: none;
    position: relative;
    padding: 0;
}

.locationList li {
    margin-bottom: 0.5rem;
    border-radius: 1.2rem;
    padding: 1.2rem;
    background-color: var(--card-color);
    transition: 0.15s;
}

.locationList li:hover {
    background-color: var(--card-color-hover);
    transition: 0.05s;
}

.locationNumber {
    float: right;
    text-align: right;
    padding-right: 1rem;
}

button, input[type=submit] {
    border-radius: 0.8rem;
    font-weight: 300;
    padding-top: 0.2rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 0.2rem;
    margin: 0.2rem;
    border: none;
    background-color: var(--card-color);
    transition: 0.12s;
}

button:hover {
    background-color: var(--card-color-hover);
    transition: 0.04s;
}

input[type=submit] {
    background-color: var(--confirm-color);
    transition: 0.12s;
    color: white;
}

input[type=submit]:hover {
    background-color: var(--confirm-color-hover);
    transition: 0.04s;
}

input[type=text] {
    border-radius: 0.8rem;
    padding: 0.2rem;
}

.removeButton {
    background-color: transparent;
    border: none;
    border-radius: 0.3rem;
    color: var(--remove-color);
    text-decoration: underline;
    padding: 0.3rem;
    margin: 0;
    margin-left: -0.3rem;
    margin-top: -0.5rem;
    transition: background-color 0.08s;
}

.removeButton:hover {
    background-color: var(--remove-color);
    color: white;
    transition: 0.08s;
}

.deleteButton {
    background-color: var(--remove-color);
    font-weight: 400;
    transition: background-color 0.12s;
}

.deleteButton:hover {
    background-color: var(--remove-color-hover);
    font-weight: 400;
    transition: background-color 0.04s;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
}

.logo {
    width: 40%;
    max-width: 10rem;
}

.buttons {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 5px;
    text-align: right;
    justify-content: end;
}

.searchForm {
    margin-bottom: 0.5rem;
}

.searchForm input {
    margin-left: 0.3rem;
}

.searchForm input[type=text] {
    min-width: 22vw;
}

.dropdown select {
    width: 100%;
    border-radius: 1em;
    padding: 0.2em;
    background-color: var(--card-color);
    transition: background-color 0.12s;
    text-overflow: ellipsis;
    max-width: 10rem;
}

.dropdown select:hover {
    background-color: var(--card-color-hover);
    transition: background-color 0.04s;
}

.loadingScreen {
    text-align: center;
}

.loadingScreen p {
    padding: 2rem;
}

.locationSelection {
    padding: 2rem;
}

.locationSelection input[type=radio] {
    display: none;
}

.buttonOption {
    border-radius: 1rem;
    margin-bottom: 0.7rem;
    background-color: var(--card-color);
    transition: background-color 0.05s;
}

.selectedButtonOption {
    border-radius: 1rem;
    margin-bottom: 0.7rem;
    background-color: var(--card-color);
    transition: background-color 0.05s;
    outline: solid 5px var(--confirm-color);
}

.buttonOption:hover {
    background-color: var(--card-color-hover);
    transition: background-color 0.15s;
}

.selectedButtonOption:hover {
    background-color: var(--card-color-hover);
    transition: background-color 0.15s;
}

.radio label {
    cursor: pointer;
    padding: 1.2rem;
    min-width: 27.15rem;  /* Workaround for addresses with one line */
}
